<% include ../partials/header %>



<div class="jumbotron">
    <h1 class="display-3">Noppadon kaewkong</h1>
        <p class="lead">5930213019</p>
        <hr class="my-2">
          <p class="lead">
              <a class="btn btn-primary btn-lg" href="index" role="button">back</a>
          </p>
</div>


<% include ../partials/footer %>