<% include ../partials/header %>



<div class="jumbotron">
    <center><h1 class="display-3">Noppadon kaewkong</h1>
        <p class="lead">MENU</p>
        <hr class="my-2">

          <p class="lead">
              <a class="btn btn-primary btn-lg" href="students" role="button">students</a>    
          <p class="lead">
              <a class="btn btn-primary btn-lg" href="subjects" role="button">subjects</a>
          </p> 
          <p class="gg">เลือกเลยนะคับ</p>
</div>


<% include ../partials/footer %>