<% include ../partials/header %>
<table class="table">
        <thead>
            <tr>
                <th>code</th>
                <th>title</th>
                <th>credits</th>
                <th>sections</th>
            </tr>
        </thead>
        <tbody>
        
    <% subject.forEach(function(subject){ %>
    
            <tr>
                <td scope="row"><%= subject.code %></td>
                <td><%= subject.title %></td>
                <td><%= subject.credits %></td>
                  <td><%= subject.sections %></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
            <% }); %>
        </tbody>
    
    </table>